body {
    visibility: hidden;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%);
    background-color: white;
}

header {
    visibility: visible;
    display: flex;
    padding: 15px;
    font-family: 'Merriweather', serif;
    filter: grayscale(100%);
    border:none;
    background-color: white;
}

header #header-content {
    visibility: visible;
    margin-left: auto;
    margin-right: auto;
    font-size: 4em;
    text-transform: uppercase;
}

header img {
    visibility: visible;
    width: 200px;
    padding: 5px 15px;
    filter: grayscale(100%);
}

table.printColors {
    visibility: visible;
    position: absolute;
    top: 200px;
    border: 1px solid;
    border-collapse: collapse;
    width: 50%;
}

table.square-table {
    visibility: visible;
    position: absolute;
    top: 500px;
    width: 50%;
    border-collapse: collapse;
}


table.printColors caption {
    border: 1px solid;
}

table.printColors td {
    border: 1px solid;
    padding: 5px;
}

table.printColors td.col-one {
    width: 20%;
}

table.printColors td.col-two {
    width: 80%;
}

table.square-table td {
    border: 1px solid;
    padding: 5px;
}
